<a href="https://colab.research.google.com/github/leofanci/ML_works/blob/main/ML2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1.) Import the data from CCLE into a new Google Colab file

In [ ]:
import pandas as pd
from google.colab import drive
import matplotlib.pyplot as plt
from sklearn import preprocessing
import numpy as np

In [ ]:
drive.mount('/content/gdrive/', force_remount = True)

Mounted at /content/gdrive/

In [ ]:
df = pd.read_csv('gdrive/MyDrive/ML/insurance.csv')
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [ ]:
df.loc[df['sex'] == 'female','sex'] = 1
df.loc[df["sex"] == 'male','sex'] = 0
df.loc[df['smoker'] == 'yes','smoker'] = 1
df.loc[df["smoker"] == 'no','smoker'] = 0
df = pd.concat([df, pd.get_dummies(df.region)], 1)
df

<ipython-input-4-6eb52c1cc261>:5: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  df = pd.concat([df, pd.get_dummies(df.region)], 1)

,age,sex,bmi,children,smoker,region,charges,northeast,northwest,southeast,southwest
0,19,1,27.900,0,1,southwest,16884.92400,0,0,0,1
1,18,0,33.770,1,0,southeast,1725.55230,0,0,1,0
2,28,0,33.000,3,0,southeast,4449.46200,0,0,1,0
3,33,0,22.705,0,0,northwest,21984.47061,0,1,0,0
4,32,0,28.880,0,0,northwest,3866.85520,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...
1333,50,0,30.970,3,0,northwest,10600.54830,0,1,0,0
1334,18,1,31.920,0,0,northeast,2205.98080,1,0,0,0
1335,18,1,36.850,0,0,southeast,1629.83350,0,0,1,0
1336,21,1,25.800,0,0,southwest,2007.94500,0,0,0,1
1337,61,1,29.070,0,1,northwest,29141.36030,0,1,0,0

In [ ]:
data = df[['age', 'sex', 'bmi', 'children', 'smoker', 'northeast', 'northwest', 'southeast', 'southwest']]
target = df[['charges']]

In [ ]:
data.head()

,age,sex,bmi,children,smoker,northeast,northwest,southeast,southwest
0,19,1,27.900,0,1,0,0,0,1
1,18,0,33.770,1,0,0,0,1,0
2,28,0,33.000,3,0,0,0,1,0
3,33,0,22.705,0,0,0,1,0,0
4,32,0,28.880,0,0,0,1,0,0

In [ ]:
target.head()

       charges
0  16884.92400
1   1725.55230
2   4449.46200
3  21984.47061
4   3866.85520

# 2.) Split the data into 80/20, in/out sample

In [ ]:
cut = int((len(df) * .8) //1)

In [ ]:
in_data = data[:cut]
out_data = data[cut:]
in_target = target[:cut]
out_target = target[cut:]

# 3.) Normalize the Data

In [ ]:
scaler = preprocessing.StandardScaler().fit(in_data)
in_data_scale = scaler.transform(in_data)
out_data_scale = scaler.transform(out_data)

In [ ]:
in_data

,age,sex,bmi,children,smoker,northeast,northwest,southeast,southwest
0,19,1,27.900,0,1,0,0,0,1
1,18,0,33.770,1,0,0,0,1,0
2,28,0,33.000,3,0,0,0,1,0
3,33,0,22.705,0,0,0,1,0,0
4,32,0,28.880,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...
1065,42,1,25.300,1,0,0,0,0,1
1066,48,0,37.290,2,0,0,0,1,0
1067,39,0,42.655,0,0,1,0,0,0
1068,63,0,21.660,1,0,0,1,0,0
1069,54,1,31.900,1,0,0,0,1,0

In [ ]:
in_data_scale

array([[-1.45390122,  1.02077653, -0.47403991, ..., -0.55791981,
        -0.6155209 ,  1.76504522],
       [-1.52464584, -0.97964634,  0.4911621 , ..., -0.55791981,
         1.6246402 , -0.56655772],
       [-0.81719959, -0.97964634,  0.36455128, ..., -0.55791981,
         1.6246402 , -0.56655772],
       ...,
       [-0.03900872, -0.97964634,  1.95211949, ..., -0.55791981,
        -0.6155209 , -0.56655772],
       [ 1.65886228, -0.97964634, -1.50008089, ...,  1.79237229,
        -0.6155209 , -0.56655772],
       [ 1.02216066,  1.02077653,  0.18367867, ..., -0.55791981,
         1.6246402 , -0.56655772]])

# 4.) Get lambda from Lasso cross validation

In [ ]:
from sklearn.linear_model import LassoCV

In [ ]:
modCV = LassoCV().fit(in_data_scale, in_target)

/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_coordinate_descent.py:1571: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [ ]:
a = modCV.alpha_

In [ ]:
a

176.27926602952408

# 5.) Run a lambda regression with that Lambda

In [ ]:
from sklearn.linear_model import Lasso

In [ ]:
model = Lasso(alpha = a).fit(in_data_scale, in_target)

# 6.) Visualize the coefficients

In [ ]:
model.coef_

array([3528.02573535,    0.        , 1826.25842562,  357.05552225,
       9280.6004751 ,  184.56649395,    0.        ,   -0.        ,
        -65.22282232])

# 7.) Interpret the coefficients

The magnitudes of the coefficients are generally high, however, the coefficient for $age$ is 0. All the variables have a positive relationship with $charges$, yet the variable for the region has a negative association with the target. The most important variable to explain $charges$ seems to be the dummy for smokers.

# 8.) Compare in and out of sample MSE’s

In [ ]:
#mod1.predict("in sample data")
#mod1.predict("out of sample data")

In [ ]:
in_predict = model.predict(np.array(in_data_scale))
in_predict

array([25183.57743363,  3987.44348867,  6851.48155101, ...,
       12026.42881497, 11582.4177949 , 12411.09815309])

In [ ]:
out_predict = model.predict(np.array(out_data_scale))
out_predict

array([32881.60606615, 14650.29903003,  3681.29135194, 12233.12640909,
        9964.71714263,  6226.47101971, 10541.93152711,  2541.49111524,
       28717.05094509, 15785.28364643,   686.64090693,  5699.46027398,
        4829.19870229,  6647.95314975, 14285.58691374, 28790.99469777,
       11911.86934097, 12752.07317137, 16668.53024526,  9515.66333029,
       34813.55175638, 12168.61816581,  5361.37623118, 26835.14528908,
       12700.25319927,  4589.01993162, 36471.1431613 ,  4686.11213302,
       11733.65571191,  5800.6295178 , 27214.42663921, 11617.84876754,
        8285.42551354, 14364.98327445,  7085.71591236, 11913.21929126,
       10270.39230715, 10006.77649692,  4699.98346863,  7295.81068863,
       12960.43492194, 34126.95264754, 32857.19179369,  4844.03606087,
        2584.2264754 , 12891.91109868, 10115.75279595, 29063.13813327,
       31486.86648465,  3431.86141359, 27232.95144572, 12596.89879338,
       37411.34024779,  6250.06341078, 31522.23542949, 12309.72630776,
       11608.34445359,  9157.74909488,  7537.50919535,  -770.14298647,
        7454.67551705, 10023.88638186, 15805.83707376,  7538.78592133,
        6198.65983049, 10877.01622754,  7691.12779151,  2219.10915608,
        6374.56516622, 26713.98695443, 12965.24731221,  9823.94656777,
        9498.18484776,  9099.08012406, 11680.47219374, 12774.048656  ,
       36888.14661375,  3631.39602465,  9385.58664517,  9624.91160074,
        3076.4686663 , 14485.09968373, 33624.20027083,  8844.54921232,
       10620.47000421,  6014.75080516, 30434.59273197,  2354.99262801,
        3661.22932335,  9231.06018602, 10470.4006604 , 10790.98495268,
        8501.98235871,  2448.8604278 ,  8088.39822945,  6064.26277049,
       15403.64290629,  4126.86530298,  8058.71672213,  8830.22927807,
       25652.81229374, 31412.73436403, 15616.50222431,  7924.59491487,
        6534.12461155,  2531.09728394, 32739.67309161,  7413.47081633,
        5693.74002071, 28904.27330484, 12675.49511378,  4030.67086422,
        4240.79513136,  9979.46412099, 26810.86507899,  8389.27844617,
       28804.04852946, 14342.34922641, 31264.92549817,  3050.94806255,
        7232.99585742,  6549.21093189, 13987.31800001, 12017.73875377,
        3324.41520864,  3082.70634389, 25972.26812711,  9362.23640454,
        8152.61349099,  4986.39224627,  6191.56840251, 13259.04049956,
        4187.6290345 , 12211.66834878, 25798.94222536,  3452.82389063,
       14677.49947121, 31677.5622155 , 29852.97529348, 15068.48203807,
        7610.7004154 ,  9627.59232491,   423.39747626, 12479.94093238,
        5478.51128476,  5729.53985634,  6569.18258026,  8089.63211177,
       34234.113234  ,  8509.55817343,  3860.78879141,  7135.52414074,
        9131.13518254, 24540.22725487,  7205.3468176 ,  9548.03704483,
        4616.69349061, 11301.25524954, 13370.32537072, 13060.02297499,
       36448.56020995, 23601.39104978, 10819.84871183, 10375.19027358,
        9242.3007557 ,  4872.18034611, 11711.95136795, 12003.19437692,
        6435.50554611,  8244.9984467 , 38345.5022582 , 39887.15999848,
        1834.53761272,  5985.45320401,  3555.62865194,  4686.24949786,
        8750.2939385 ,  7165.99121828,  5504.51739256, 31029.88101729,
       27592.37748085,  -409.79375862, 25252.99167742,  8883.08411998,
        5864.41773522, 10766.01748893, 13608.51039206, 11133.35984935,
       15006.2528838 ,  9422.91628833,  3632.36501226,  7331.22744884,
        8010.32256342,  8912.9649475 , 12325.98153912, 35323.94491911,
       11788.51906752, 27963.23689451,  3893.72391239,  9290.81778028,
        6027.69654877,  5649.58678777,  8948.51113621,  6380.66136691,
       26830.52870244, 10245.71782514,  4103.35174437,  5970.32643155,
       31664.42478033,  3938.22093722, 11043.29438346, 32846.93853611,
       23641.46667494,  2864.35506188, 38488.44083921,  8517.3037662 ,
        1664.06957643,  5964.67885065, 29485.88663126, 10641.91385208,
        5558.10584837, 27285.61459608,  1265.45007023,  9165.46961655,
       11519.53002593,   800.12213667,  1821.25218929,  4602.90602388,
        6134.62532939,  1827.19688515, 32563.67737565, 37860.39819335,
        1687.71719741, 31143.68091652, 31115.32989654,  3368.52915805,
       26443.99940424, 29845.11747941, 27371.77993331,  9404.14337196,
        7738.90649587,  5307.03057872, 10570.44852974, 27824.92996447,
       27705.45355884,  2777.07486152,  -169.56094006,  9501.39091145,
       11342.46346683,  7289.82670924,  7019.18499425, 36135.34171635,
       16189.13901914, 35420.19751784,  4879.31847217, 14778.7295531 ,
        9836.84772604, 11100.78736654,  3098.01710682, 14071.48335538,
       11609.75880981,  4672.51958787, 16202.94538346, 11732.84564368,
        3561.43866878,  4612.65305363,  1891.13009606, 36169.72367919])

In [ ]:
from sklearn.metrics import mean_squared_error

In [ ]:
mean_squared_error(in_target, in_predict)

36603129.01103468

In [ ]:
mean_squared_error(out_target, out_predict)

37305075.46630295

The in-sample model has a lower MSE score.